{% extends "_base.html" %}

{% block content %}
<main>
    <div class="sm:px-8 mt-16 sm:mt-32">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <div
                    class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                        <div class="lg:order-first lg:row-span-2">
                            <h1
                                class="text-4xl font-bold tracking-tight text-olive-drab sm:text-5xl">
                                Hello, I'm
                                <span class="font-black text-jet">Max</span>.
                            </h1>
                            <h2
                                class="text-3xl font-bold tracking-tight text-olive-drab sm:text-4xl">
                                I am a software engineer living in Athens, Greece.
                            </h2>
                            <div class="mt-6 space-y-7 text-lg text-olive-drab">
                                <p>
                                    My programming language of choice is Python, I've 
                                    written my share in C and C++ though, and I am also
                                    keen on learning more about Rust and Go.
                                </p>
                                <p>
                                    I enjoy working on projects where I can undertake
                                    a diversity of responsibilites like feature development,
                                    CI build, application deployment, etc. I prefer being
                                    able to see the whole picture instead of just committing
                                    bug fixes.
                                </p>
                                <p>
                                    I love creating tools in the form of Python libraries.
                                </p>
                                <p>
                                    I majored with honours (M.Sc.Eng) in
                                    chemical engineering in 2019.
                                </p>
                            </div>
                        </div>

                        <div class="z-20 mt-4 lg:pl-20">
                            <ul role="list">
                                {% for link in links %}
                                <li class="flex mt-2">
                                    <a
                                        href="{{link.href}}"
                                        class="group flex font-medium text-olive-drab transition hover:text-jet"
                                        target="_blank"
                                    >
                                        <svg
                                            viewBox="{{link.vbox}}"
                                            aria-hidden="true"
                                            class="h-6 w-6 flex-none fill-wenge transition group-hover:fill-jet"
                                        >
                                            <path
                                                d="{{link.path_d}}"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                        <span class="ml-4 font-normal"
                                            >{{ link.text }}</span
                                        >
                                    </a>
                                </li>
                                {% endfor %}
                                <div
                                    class="mt-8 border-t border-laurel-green pt-8"
                                ></div>
                                <li class="flex">
                                    <a
                                        class="group flex font-medium text-olive-drab transition hover:text-jet"
                                        href="mailto:{{ mail.mail }}"
                                    >
                                        <svg
                                            viewBox="{{mail.vbox}}"
                                            aria-hidden="true"
                                            class="h-6 w-6 flex-none fill-wenge transition group-hover:fill-jet"
                                        >
                                            <path
                                                d="{{mail.path_d}}"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                            ></path>
                                            <path
                                                d="{{mail.path_d2}}"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                        <span class="ml-4 font-normal"
                                            >{{mail.mail}}</span
                                        ></a
                                    >
                                </li>
                            </ul>
                            <div class="mt-6 flex">
                                <a
                                    class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-transparent border border-davys-grey font-medium text-olive-drab hover:bg-wenge hover:text-lime active:bg-wenge active:text-lime group mt-6 mx-auto lg:w-full"
                                    href="/assets/CV.pdf"
                                    target="_blank"
                                    >Download CV

                                    <svg
                                        viewBox="0 0 24 24"
                                        aria-hidden="true"
                                        class="fa-solid fa-download h-4 w-4 -translate-y-0.5 stroke-wenge transition group-active:stroke-lime group-hover:stroke-lime group-hover:translate-y-0"
                                    >
                                        <path
                                            d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="relative bg-lime overflow-hidden">
    <div class="max-w-7xl mx-auto relative px-4 py-8 sm:px-6 sm:pt-20 lg:pt-16 lg:px-32">
        {% include '_experiences.html' %}
        {% include '_projects.html' %}
        {% include '_blogs.html' %}
    </div>
</div>

{% endblock content %}